/* ------------- Menu ------------------ */
#menu {
	width: 900px;
	height: 50px;
	margin: 0px;
	background: url(images/menuBG.gif) repeat-x;
}

#menu ul {
	margin: 0px;
	text-align: right;
	list-style: none;
}

#menu ul li {
	margin: 0px;
	display: inline;
}

#menu ul li a {
	display:inline-block;
	width: 140px;
	height: 35px;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	font: 14px arial;
	color:#000000;
	font-weight: bold;
	text-decoration: none;
}

#menu ul li a:hover, .current {
	color: #FFFFFF;
	background: url(images/menuhoverBG.gif) repeat-x;
}
/* ---------- End of Menu ------------- */
